asgiref==3.8.1
attrs==24.2.0
Django==5.1
django-filter==24.3
djangorestframework==3.15.2
drf-spectacular==0.27.2
factory_boy==3.3.1
Faker==28.1.0
faker-commerce==1.0.4
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.20.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
uritemplate==4.1.1
uuid6==2024.7.10
